---
import Boxes from '../components/Boxes.svelte'
import SocialProfiles from '../components/SocialProfiles.astro'
import '../styles/app.css'
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Bryce McWhirter</title>
	</head>
	<body class="gradient-bg text-primaryWhite">
	<div class="md:space-y-3 md:py-5">
		<div class="flex flex-col justify-center items-center text-center space-y-3">
			<img class="w-44 h-44 mx-auto" src="/profilePicture.png" alt="Bryce McWhirter Profile Picture"/>
			<h1 class="font-bold text-2xl lg:text-4xl">Bryce McWhirter</h1>
			<SocialProfiles />
		</div>
		<Boxes/>
	</div>
	</body>
</html>
